.page-3 {
    position: absolute;
    width: 1519px;
    height: 720px;
    left: 0px;
    top: 0px;

    background: radial-gradient(50% 50% at 50% 50%, #2C0F06 0%, #1A0504 100%);
}

a{
    text-decoration: none;
    
}

a:visited{
    color: #FFFFFF;
}

.Logo {
    position: absolute;
    width: 197.25px;
    height: 147.93px;
    left: 50px;
    top: 15.23px;
    transform: rotate(-0.22deg);
}

.Logo img{
    height: 110px;
    width: 110px;
    object-fit: cover
}

.inkronix {
    position: absolute;
    width: 148px;
    height: 41px;
    left: 161px;
    top: 38px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 31.5173px;
    line-height: 41px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.home {
    position: absolute;
    width: 56px;
    height: 26px;
    left: 601px;
    top: 36px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.team {
    position: absolute;
    width: 51px;
    height: 26px;
    left: 707px;
    top: 36px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.wwd {
    position: absolute;
    width: 118px;
    height: 26px;
    left: 808px;
    top: 36px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.bton {
    box-sizing: border-box;

    position: absolute;
    width: 160px;
    height: 50px;
    left: 1283px;
    top: 25px;

    box-shadow: 0px 0px 27px 1px rgba(41, 112, 248, 0.7);
    border-radius: 20px;

}

.btn2 a {
    position: absolute;
    width: 96px;
    height: 29px;
    left: 1315px;
    top: 35px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
    text-decoration: none;
}

.center {
    position: absolute;
    width: 520px;
    height: 150px;
    left: 559px;
    top: 178px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 150px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.center-2 {
    position: absolute;
    width: 791px;
    height: 52px;
    left: 468px;
    top: 300px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 52px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.center-3 {
    position: absolute;
    width: 313px;
    height: 44px;
    left: 630px;
    top: 350px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.brain-photo img{
    height: 450px;
    width: 650px;
    top: 270px;
    left: 870px;
    position: absolute;
}

.part-2 {
    position: absolute;
    width: 1519px;
    height: 463px;
    left: 0px;
    top: 720px;

    background: #6A1823;
}

.rec-1 {
    box-sizing: border-box;

    position: absolute;
    width: 1349px;
    height: 328px;
    left: 80px;
    top: 80px;

    background: #6A1823;
    border: 8px solid #894A1D;
    border-radius: 37px;
}

.rec-2 {
    box-sizing: border-box;

    position: absolute;
    width: 1200px;
    height: 259px;
    left: 50px;
    top: 30px;

    background: #6A1823;
    border: 6.30624px solid #894A1D;
    border-radius: 29.1664px;
}

.txt-rec {
    color: #FFFFFF;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    position: absolute;
    top: 90px;
    left: 50px;
}

.part-3 {
    position: absolute;
    width: 1519px;
    height: 600px;
    left: 0px;
    top: 1182px;

    background: linear-gradient(331.82deg, #ED7830 19.68%, #691722 80.64%);
}

.name-rec1 {
    position: absolute;
    width: 10px;
    height: 80px;
    left: 80px;
    top: 150px;

    background: #FFFFFF;
}

.employee-name1 {
    position: absolute;
    width: 1371px;
    height: 50px;
    left: 34px;
    top: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 93px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.employee-pic1 img {
    position: absolute;
    width: 250px;
    height: 300px;
    left: 1150px;
    top: 250px;

    background: linear-gradient(0deg, #C4C4C4, #C4C4C4), #D9D9D9;
    box-shadow: 0px 4.42165px 56px rgba(0, 0, 0, 0.25);
    border-radius: 57.4815px;
}

.employee-desc1 {

    position: absolute;
    width: 900px;
    height: 156px;
    left: 85px;
    top: 320px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 52px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.name-rec2{
    position: absolute;
    width: 10px;
    height: 200px;
    left: 79px;
    top: 1800px;

    background: #A64429;
}

.employee-desc2 {
    position: absolute;
    width: 1400px;
    height: 78px;
    left: 104px;
    top: 1800px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 78px;
    display: flex;
    align-items: center;

    background: linear-gradient(95.27deg, #ED7830 0%, #691722 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.employee-desc3{
    position: absolute;
    width: 700px;
    height: 80px;
    left: 104px;
    top: 1900px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 52px;
    display: flex;
    align-items: center;

    color: #000000;
}

.part-5 {
    position: absolute;
    width: 1519px;
    height: 500px;
    left: 0px;
    top: 2050px;

    background: #FFEADE;
}

.name-rec3 {
    position: absolute;
    width: 10px;
    height: 80px;
    left: 1350px;
    top: 50px;

    background:  #A64429;
}

.employee-name2 {
    position: absolute;
    width: 700px;
    height: 90px;
    left: 700px;
    top: 45px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 90px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #6A1823;
}

.employee-pic2 img {
    position: absolute;
    width: 250px;
    height: 300px;
    left: 100px;
    top: 150px;

    background: linear-gradient(0deg, #C4C4C4, #C4C4C4), #D9D9D9;
    box-shadow: 0px 4.42165px 56px rgba(0, 0, 0, 0.25);
    border-radius: 57.4815px;
}

.employee-desc4 {
    position: absolute;
    width: 650px;
    height: 20px;
    left: 700px;
    top: 300px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: right;

    color: #000000;
}

.landing-btn {
    position: absolute;
    background: linear-gradient(95.27deg, #ED7830 0%, #691722 100%);
    border-radius: 50%;
    font-size: 4rem;
    height: 100px;
    width: 100px;
    top: 450px;
    left: 720px;
    margin: 0;
    padding: 0;
    line-height: 1;
    padding: 10px;
    transform: rotate(-45deg);
    color: white;
  }

  #check{
    display: none;
  }

  .name-rec4{
        position: absolute;
        width: 10px;
        height: 80px;
        left: 80px;
        top: 2610px;
        background: #A64429;
  }

  .employee-name3{
    position: absolute;
    width: 1371px;
    height: 50px;
    left: 34px;
    top: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 93px;
    display: flex;
    align-items: center;

    color: #6A1823;
  }

  .employee-pic3 img{
    position: absolute;
    width: 250px;
    height: 300px;
    left: 1150px;
    top: 2708px;

    background: linear-gradient(0deg, #C4C4C4, #C4C4C4), #D9D9D9;
    box-shadow: 0px 4.42165px 56px rgba(0, 0, 0, 0.25);
    border-radius: 57.4815px;
  }

  .employee-desc5{
    position: absolute;
    width: 900px;
    height: 156px;
    left: 85px;
    top: 2760px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 52px;
    display: flex;
    align-items: center;

    color: #000000
  }

  .part-7{
    position: absolute;
    width: 1519px;
    height: 1500px;
    left: 0px;
    top: 3050px;

    background: #FFEADE;
  }

  .name-rec5{
    position: absolute;
    width: 10px;
    height: 80px;
    left: 1350px;
    top: 50px;

    background:  #A64429;
  }

  .employee-name4{
    position: absolute;
    width: 500px;
    height: 90px;
    left: 1020px;
    top: 45px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 90px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #6A1823;
  }

  .employee-box1 img{
    position: absolute;
    width: 250px;
    height: 300px;
    left: 60px;
    top: 180px;
    background: url(), #D9D9D9;
    box-shadow: 0px 4.42165px 56px rgb(0 0 0 / 25%);
    border-radius: 57.4815px;
  }

  .employee-name5{
    position: absolute;
    width: 342px;
    height: 90px;
    left: 372px;
    top: 255px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 90px;
    display: flex;
    align-items: center;
    color: #6A1823;
}

.employee-desc6{
    position: absolute;
    width: 817px;
    height: 75px;
    left: 372px;
    top: 313px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 75px;
    display: flex;
    align-items: center;
    color: #6A1823;
}

.employee-box2 img{
    position: absolute;
    width: 250px;
    height: 300px;
    left: 1148px;
    top: 492px;
    background: url(style.css), rgb(217, 217, 217);
    box-shadow: rgb(0 0 0 / 25%) 0px 4.42165px 56px;
    border-radius: 57.4815px;
}

.employee-name6{
    position: absolute;
    width: 342px;
    height: 90px;
    left: 756px;
    top: 570px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 90px;
    display: flex;
    align-items: center;
    color: rgb(106, 24, 35);
}

.employee-desc7{
    position: absolute;
    width: 817px;
    height: 75px;
    left: 605px;
    top: 625px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 75px;
    display: flex;
    align-items: center;
    color: rgb(106, 24, 35);
}

.employee-box3 img{
    position: absolute;
    width: 250px;
    height: 300px;
    left: 60px;
    top: 824px;
    background: url(), #D9D9D9;
    box-shadow: 0px 4.42165px 56px rgb(0 0 0 / 25%);
    border-radius: 57.4815px;
}

.employee-name7{
    position: absolute;
    width: 342px;
    height: 90px;
    left: 372px;
    top: 906px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 90px;
    display: flex;
    align-items: center;
    color: rgb(106, 24, 35);
}

.employee-desc8{
    position: absolute;
    width: 817px;
    height: 75px;
    left: 372px;
    top: 965px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 75px;
    display: flex;
    align-items: center;
    color: rgb(106, 24, 35);
}

.employee-box4 img{
    position: absolute;
    width: 250px;
    height: 300px;
    left: 1148px;
    top: 1170px;
    background: url(style.css), rgb(217, 217, 217);
    box-shadow: rgb(0 0 0 / 25%) 0px 4.42165px 56px;
    border-radius: 57.4815px;
}

.employee-name8{
    position: absolute;
    width: 342px;
    height: 90px;
    left: 756px;
    top: 1249px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 90px;
    display: flex;
    align-items: center;
    color: rgb(106, 24, 35);
}

.employee-desc9{
    position: absolute;
    width: 817px;
    height: 75px;
    left: 605px;
    top: 1305px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 75px;
    display: flex;
    align-items: center;
    color: rgb(106, 24, 35);
}

.part-8{
    position: absolute;
    width: 1349px;
    height: 300px;
    left: 60px;
    top: 4582px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

@media (max-width:600px) {
    .page-3{
        width: 900px;
    }
    
    .checkbtn{
        font-size: 30px;
        color: #FFFFFF;
        margin-top: 40px;
        position: absolute;
        margin-left: 80px;
      }

      .Logo{
        left: 300px;
      }

      .inkronix{
        left: 400px;
      }

      .center{
        left: 250px;
      }

      .center-2{
        left: 150px;
      }

      .center-3{
        left: 320px;
      }

      .landing-btn{
        left: 400px
      }

      .brain-photo img{
        left: 250px;
      }

      .bton{
        left: 665px;
        top: 30px;
    }

    .btn2 a{
        left: 702px;
        top: 40px;
    }

    .part-2{
        width: 900px;
    }

    .rec-1{
        width: 750px;
    }

    .rec-2{
        width: 640px;
    }

    .txt-rec{
        width: 500px;
        text-align: center;
        top: 30px;
        left: 77px;
    }

    .part-3{
        width: 900px;
    }

    .name-rec1{
        left: 50px;
        height: 60px;
    }

    .employee-name1{
        font-size: 35px;
        top: 7px;
    }

    .employee-desc1{
        top: 300px;
        left: 50px;
        font-size: 28px;
        width: 550px;
    }

    .employee-pic1 img{
        left: 650px;
        width: 200px;
        height: 250px;
        top: 270px;
    }

    .name-rec2{
        left: 50px;
    }

    .employee-desc2{
        left: 80px;
        font-size: 35px;
    }

    .employee-desc3{
        font-size: 28px;
        left: 80px;
    }

    .part-5{
        width: 900px;
    }

    .employee-name2{
        font-size: 35px;
        top: 30px;
        left: 270px;
        width: 600px;
    }

    .name-rec3{
        left: 820px;
        height: 60px;
    }

    .employee-pic2 img{
        left: 50px;
        width: 200px;
        height: 250px;
        top: 180px;
    }

    .employee-desc4{
            top: 300px;
            left: 290px;
            width: 530px;
            font-size: 28px;
    }

    #check:checked ~ ul{
        display: none;
      }

    #check:checked{
        display: none;
    }

    .home{
        top: 115px;
        left: 68px;
    }

    .team{
        left: 68px;
        top: 163px;
    }

    .wwd{
        left: 43px;
        top: 220px;
    }
}


/*------------footer----------------*/


.footer {
    position:absolute;
    top:4889px ;
    width: 100%;
    height: 150px;
    background-color:rgb(185, 26, 26);
    color: rgb(201, 196, 196);
    
    display: flex;
  }
  a{
      text-decoration: none;
      color: aliceblue;
    }
  ul{
    list-style:none ;
  }
    .p{
      margin-top: 5px;
    }
  
    .list1{
     line-height: normal;
     display: flex;
     margin-left: 10%;
     margin-top: 30px;
  
    }
    .list2{
     line-height: normal;
     display: flex;
     margin-left: 20%;
     margin-top: 38px;
     
  
    }
    .list3{
     line-height: normal;
     display: flex;
     margin-left: 10%;
     margin-top: 2px;
     
  
    }
  
    .media{
      display: flex;
      gap:2rem ;
      margin: 16px;
      align-items: left;
    }


