<div class='flex md:items-center flex-col md:flex-row md:justify-between px-10  md:px-24 lg:px-24 transition-all duration-700 text-white md:p-16 lg:p-10 gap-3'>
    <div class='flex flex-col wow animate__animated animate__backInRight'> 
        <a href='#' class='md:-ml-8  pt-10 md:pt-4 hover:text-purple-300'>ABOUT</a>
        <a href='#' class='md:-ml-8 pt-4 hover:text-purple-300'>JOIN INKRONIX</a>
        <a href='#' class='md:-ml-8  pt-4 hover:text-purple-300'>GET INTERNSHIP</a>
    </div> 
    <div class='flex flex-col wow animate__animated animate__backInLeft'>
        <a href='#' class='hover:text-purple-300'>TERM & CONDITIONS</a>
        <a href='#' class='pt-4 hover:text-purple-300'>PRIVACY POLICY</a>
        <a href='#' class='pt-4 hover:text-purple-300'>COOKIE POLICY</a>
    </div>
    <div class='flex flex-col wow animate__animated animate__backInDown'>
        <p class='md:-mt-6 text-2xl'>LET'S CHAT</p>
        <a class='pt-4'>support@inkronix.com</a>
        <div class="flex gap-8 pt-4 text-4xl">
            <a href='https://twitter.com/' class='hover:text-purple-300'><i class="fa-brands fa-twitter"></i></a>
            <a href='https://www.facebook.com/campaign/landing.php?campaign_id=14884913640&extra_1=s%7Cc%7C550525804791%7Cb%7Cfacebook%20%27%7C&placement=&creative=550525804791&keyword=facebook%20%27&partner_id=googlesem&extra_2=campaignid%3D14884913640%26adgroupid%3D128696220912%26matchtype%3Db%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-327195741349%26loc_physical_ms%3D9061714%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=Cj0KCQiAutyfBhCMARIsAMgcRJSObqyBs2icNb08qf9Qmo4Yj2mtUeZRLWMDsOGq2ommM4sL9GCf4BsaAn7MEALw_wcB' class='hover:text-purple-300'><i class="fa-brands fa-facebook"></i></a>
            <a href='https://www.instagram.com/' class='hover:text-purple-300'><i class="fa-brands fa-instagram"></i></a>
            <a href='https://in.linkedin.com/' class='hover:text-purple-300'><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</div>
<p class='text-center text-sm md:text-lg text-white pt-3 pb-5 md:pb-4'>© Copyright Inkronix Software Developed by Amaan</p>

