<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/team/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="page-3">
        <div>
            <input type="checkbox" id="check" class="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <ul>
                <li class="home"><a href="#">Home</a></li>
                <li class="team"><a href="#">Team</a></li>
                <li class="wwd"><a href="#">What We Do</a></li>
            </ul>
        </div>
        <div class="navbar">
            <div class="Logo">
                <img src="./logo (1).svg" alt="">
            </div>
            <div class="inkronix">
                INKRONIX
            </div>
            <div class="bton">

            </div>
            <div class="btn2">
                <a href="#">Let's talk</a>
            </div>
            <div>
                <div class="brain-photo">
                    <img src="{% static 'media/team/brain.png' %}" alt="">
                </div>
                <div class="center">
                    OUR TEAM
                </div>
                <div class="center-2">
                    INKRONIX IS MADE UP OF INDUSTRY GEMS
                </div>
                <div class="center-3">
                    MEET THEM BELOW
                </div>
            </div>
            <div>
                <button class="btn landing-btn">
                    <i class="fa-solid fa-arrow-down"></i>
                </button>
            </div>
        </div>
        <div class="part-2">
            <div class="rec-1">
                <div class="rec-2">
                    <div class="txt-rec">
                        Hardworking.
                        Enthusiastic.
                        Promise Driven.
                    </div>
                </div>
            </div>
        </div>
        <div class="part-3">
            <div class="name-rec1">
                <div class="employee-name1">
                    Founder & Ceo of Inkronix - Krishna Malviya
                </div>
            </div>
            <div class="employee-pic1">
                <img src="https://lh5.googleusercontent.com/qXXtebe3lZJ0gIgsz1SRxoViEtx6Z8lSTtse4WQOA7NuqtgYeVw2F41ewaiMsfXZn28EuZ1YAniMKakOmXgN61jocjMHpxut0QCAgdv6DLxcWQIe7xngPjA-oxlaTpHYLg=w1280">
            </div>
            <div class="employee-desc1">
                You don’t have to wake up at 4am just because a few CEO’s are doing that. Different people are creative
                at
                different times of the day.
            </div>
        </div>
        <div class="part-4">
            <div class="name-rec2">
            </div>
            <div class="employee-desc2">
                All the success of our company goes to our team.
            </div>
            <div class="employee-desc3">
                We all, on the journey of success and our team has the biggest role in this journey .
            </div>
        </div>
        <div class="part-5">
            <div class="name-rec3">
            </div>
            <div class="employee-name2">
                Swastika Saxena - Managing Director
            </div>
            <div class="employee-pic2">
                <img src="{% static 'media/team/s1.jpg' %}"  alt="s1">
            </div>
            <div class="employee-desc4">
                You don’t have to wake up at 4am just because a few CEO’s are doing that. Different people are creative
                at
                different times of the day.
            </div>
        </div>
        <div class="part-6">
            <div class="name-rec4">
                <div class="employee-name3">
                    Head Of Managing Department - Cronzy Gautam
                </div>
            </div>
            <div class="employee-pic3">
                <img src="https://lh5.googleusercontent.com/szLdwApv5tVKvsgiw4yUNQvldzt-dcgEJbX3eTlo__HrCVXViOTtMs-MLj2C8zwZJWMH1AiFjfqjDyLMLMtlRZKg7z5deeZgg_AfMnX869lYzlWQ3u5uxpQbz0gPSIQ06g=w1280">
            </div>
            <div class="employee-desc5">
                You don’t have to wake up at 4am just because a few CEO’s are doing that. Different people are creative
                at
                different times of the day.
            </div>
        </div>
        <div class="part-7">
            <div class="name-rec5">
            </div>
            <div class="employee-name4">
                OUR BEST TEAM
            </div>
            <div class="employee-box1">
                <img src="  A1.jpg"  alt="A1">
                <span class="employee-name5">Aditi Gupta</span>
                <span class="employee-desc6">Head of Designing Management</span>
            </div>

            <div class="employee-box2">
                <img src="inkronix-logo.jpg" alt="inkronix-img">
                <span class="employee-name6">Vishwanath Anand</span>
                <span class="employee-desc7">Buisness Development Manager</span>
            </div>

            <div class="employee-box3">
                <img src=""{% static 'media/team/sp.jpg' %}" alt="sp">
                <span class="employee-name7">Swati Priya</span>
                <span class="employee-desc8">Head of Training Department</span>
            </div>

            <div class="employee-box4">
                <img src="https://lh5.googleusercontent.com/HTeQbnG13mmCXX9RmZxrqO_QErUbQkAajZYOLEtUpqZ__Q2zUlyImk6zwJMRGvq8E5YXxIfKISevoug3GvDmdP5IqPIAzFHZDe6dOHt_z_Yo_IuD9j8OQ8EnznBeJ5Gjhg=w1280">
                <span class="employee-name8">Gaurav Baliyan</span>
                <span class="employee-desc9">Head of Marketing Mangment</span>
            </div>
        </div>
        <div class="part-8">
            If you are having any innovative idea and confidence in it, that it can rise up it in the market bringing
            positive impact in the society and operations, please feel free to contact us . We will provide you the
            plateform for developing and marketing of your ideology. Making it a successful one and can grow together.
        </div>
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

               
                      <div class="footer">
  
                           <div class="list1">
                         <ul>
                           <li class="p"><a href="#">ABOUT</a></li>
                              <li class="p"><a href="#">JOIN INKRONIX</a></li>
                                       <li class="p"><a href="#">GET INTERNSHIP </a></li>
                                      </ul>
                                       </div>
   
                            <div class="list2">
                                        <ul>
                                         <li class="p"><a href="#"> TERMS & CONSITIONS</a></li>
                                         <li class="p"><a href="#">PRIVACY POLICY</a></li>
                                         <li class="p"><a href="#">COOKIE POLICY </a></li>
                                        </ul>
                             </div>


                                 <div class="list3">

                                        <ul>
                                         <li class=""><a href="#"><h4>LET'S CHAT<h4></a></li>
                                              <li><a href="#">support@inkronix.com</a></li>
                                             <div class="media">
                                              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                               <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                               <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                 </div>
                                        </ul>

    
</body>
</html>       