  {% load static %}
<div class="hidden md:flex justify-between p-3 relative overflow-hidden transition-all duration-1000">
        <div class=' flex justify-between items-center gap-2'>
            <img src="{% static 'media/logo.png' %}" alt="Logo" class='transition-all duration-1000 h-10 ml-10 lg:ml-16'>
            <p class='transition-all duration-1000 text-3xl lg:text-4xl text-white font-semibold'>INKRONIX</p>
        </div>
        <div class='flex justify-between items-center  gap-8 text-gray-300 '>
            <a href="{% url 'home' %}" class=' font-thin {% if home %} text-pink-600{% endif %} hover:text-white'>Home</a>
            <a href='{% url 'team' %}' class=' font-thin {% if team %} text-pink-600{% endif %} hover:text-white'>Team</a>
            <a href="{% url 'we_do' %}" class=' font-thin {% if we_do %} text-pink-600{% endif %} hover:text-white'>What we do</a>
        </div>
        
    <p onclick='formOpen();' id='form_btn' class='border px-6 py-2 hover:bg-cyan-700 transition-all duration-150 bg-gradient-to-tr {% if team %}hover:from-orange-800  hover:to-pink-500  {% endif %} {% if we_do %} hover:from-cyan-400  hover:to-pink-500  {% endif %}  {% if home %} from-blue-900 to-purple-800 hover:from-purple-500  hover:to-indigo-700{% endif %} border-t-purple-600 border-l-blue-600 border-r-blue-600 mr-9 shadow-lg shadow-indigo-800 border-b-blue-700 font-semibold rounded-full  cursor-pointer text-white  hover:text-black '>Let's talk</p>
    
    
</div> 
{% include 'form.html' %}

