{% extends 'my_base.html' %}
{% load static %}
{% block title %}What We Do{% endblock title %}
{% block content %}
 <section id="navbar" class=' bg-[#1a0504] overflow-hidden border-b-2 border-gray-600'>
    {% include 'navbar.html' %}
</section>

<!-- Mobile bar -->
<section id="mobile_navbar" >
    {% include 'mobile_bar.html' %}
</section>  

 <section id="banner" class='relative w-full h-fit' >
    <img src="{% static 'media/team/team_banner.png' %}" alt="" srcset="" class='w-screen h-fit'>
    <div class='absolute top-14 left-3 sm:left-10 md:top-20 md:left-16 lg:top-36 lg:left-80 xl:top-48 xl:left-[500px] transition-all duration-700   from-blue-700 text-white wow animate__animated animate__backInLeft'>
        <p class='transition-all duration-700 text-sm sm:text-3xl md:text-5xl lg:text-6xl xl:text-6xl lg:-ml-20 font-semibold '>OUR TEAM</P> 
        <p class='transition-all duration-700 pt-5 text-[12px] sm:text-md md:text-xl lg:text-2xl  md:pt-10 xl:pt-10 lg:-ml-20 xl:-ml-32'>INKRONIX IS MADE UP OF INDUSTRY GEMS</p>
        <p class='transition-all duration-700 text-sm sm:text-md md:text-xl lg:text-2xl  xl:text-3xl pt-2  md:pt-5 xl:pt-5 lg:pt-4 lg:-ml-16 xl:-ml-20'> MEET THEM BELOW </p>
        <p class="transition-all duration-700 rounded-full mt-5 md:mt-10 lg:text-6xl lg:mt-16 lg:ml-28 xl:mt-20 xl:ml-28 bg-gradient-to-br from-orange-400 via-orange-800 to-orange-900 w-10 h-10 md:w-20 md:h-20 lg:w-28 lg:h-28 xl:w-32 xl:h-32 p-2 sm:p-3"><i class=" fa-solid text-3xl md:pl-3  md:text-5xl lg:text-7xl  xl:text-8xl fa-arrow-right  rotate-45"></i></p>
    
     
    </div>
    
    

</section> 

<section id="1st" >
    <div class=' flex justify-center bg-[#6a1823] text-center transition-all duration-1000 text-white md:text-3xl py-16 md:py-20 lg:text-4xl xl:text-5xl lg:py-28'>
        <div class=' border-2 outline-2 outline-offset-4 md:border-4 md:outline-4 md:outline-offset-8 lg:border-[6px] lg:outline-[6px] outline lg:outline-offset-[25px] outline-[#84421e] border-[#84421e]  rounded-xl py-5 px-5 md:py-10 md:px-7 lg:py-20 lg:px-10 font-semibold' >
            <p class='wow animate__animated animate__backInLeft'>Hardworking. Enthusiastic. Promise Drive</p>
        </div>

    </div>
</section>

<section id="2nd" >
    <div class=' bg-gradient-to-br from-[#6a1823] via-orange-900 to-orange-400  transition-all duration-1000 text-white  pt-11'>
        <div class='wow animate__animated animate__backInLeft transition-all duration-1000  flex justify-center  font-semibold text-xl md:text-3xl lg:text-4xl xl:text-5xl'>
            <p class='border-l-8 pl-5  py-5' >Founder & Ceo of Inkronix - Krishna Malviya</p>
        </div>
        <div class="flex pt-10 md:pt-5 lg:pt-32 flex-col md:flex-row md:items-center">
            <div class='lg:w-3/6 text-xl lg:text-3xl lg:ml-20 '>
                <p class='wow animate__animated animate__backInLeft transition-all duration-1000 px-10 lg:px-0  lg:py-52' >You don't have to wake up at 4am just because a few CEO's are doing that. Different people are creative at different times of the day.</p>
            </div>
            <div class='w-1/2 m-auto md:m-0 lg:w-4/12 xl:w-3/12 mt-5 p-5 md:p-10 lg:p-0 lg:pb-5 lg:mt-0 lg:m-auto  lg:px-0 '>
            <img src="{% static 'media/team/krishna.jpg' %}" alt="logo" class='wow animate__animated animate__backInRight transition-all duration-1000   rounded-2xl shadow-2xl shadow-black lg:m-auto lg:h-[400px]'>
            </div>
        </div>
    </div>
</section>

<div id='3rd'  class='bg-[#ffffff] py-20 px-10 '>
    <div class="wow animate__animated animate__backInUp transition-all duration-1000  border-l-8 border-orange-800 ml-2 px-1 md:px-3 py-5 ">
        <p class='text-black text-2xl md:text-3xl lg:text-5xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-orange-600 to-orange-900'>All the success of our company goes to our team.</p>
        <p class='text-black text-lg md:text-2xl lg:text-3xl pt-5'>We all, on the journey of success and our team has the</p>
        <p class='text-black text-lg md:text-2xl lg:text-3xl'>biggest role in this journey.</p>
    </div>
</div>

<section id="4th" class='bg-[#ffeade] py-10' >
    <p class='wow animate__animated animate__backInLeft transition-all duration-1000 mr-10 text-2xl md:text-3xl lg:text-5xl p-5 border-orange-900 text-end border-r-8 text-orange-900 mt-5' >Swastika Saxena - <span class='font-semibold'>Managing Director</span> </p>
    <div class="flex flex-col  md:flex-row md:items-center">
        <div class='w-1/2 m-auto my-2 md:my-0 md:m-0  md:w-2/2 lg:w-2/3 px-5'>
        <img src="{% static 'media/team/sp.jpg' %}" alt="Logo" class='wow animate__animated animate__backInLeft transition-all duration-1000 rounded-[50px] shadow-2xl ' >
        </div>
        <p class='wow animate__animated animate__backInRight transition-all duration-1000 text-xl md:text-2xl lg:text-3xl px-20 leading-snug text-justify lg:text-end font-semibold ' >You don’t have to wake up at 4am just because a few CEO’s are doing that. Different people are creative at different times of the day.</p>
    </div>

</section>

<section id="5th" class='bg-[#ffffff] py-10' >
    <p class='wow animate__animated animate__backInLeft transition-all duration-1000 ml-10 text-2xl md:text-3xl lg:text-5xl p-5 border-orange-900  border-l-8 text-orange-900 mt-5 font-semibold' >Head Of Managing Department - <span class='font-normal'>Cronzy Gautam</span> </p>
    <div class="flex items-center flex-col md:flex-row mt-10 md:mt-5 lg:mt-0">
        <div class='md:w-4/4 lg:w-4/5 xl:w-3/4'>
        <p class=' wow animate__animated animate__backInRight transition-all duration-1000  text-xl md:text-2xl lg:text-3xl font-semibold text-gray-600 px-24 leading-snug text-justify ' >You don’t have to wake up at 4am just because a few CEO’s are doing that. Different people are creative at different times of the day.</p>
        </div>
        <div class='w-1/2 pt-4 md:pt-8 md:px-5 md:w-2/2 lg:w-[350px] lg:px-0 lg:pr-5'>
        <img src="{% static 'media/team/A1.jpg' %}" alt="Logo" class='wow animate__animated animate__backInLeft transition-all duration-1000  rounded-[50px] shadow-2xl ' >
        </div>
    </div>

</section>

<section id="6th" class='bg-[#ffeade] py-20'>
    <p class='text-end border-r-8 border-orange-900 mr-5 p-5 text-5xl font-semibold wow animate__animated animate__backInRight transition-all duration-1000' >OUR BEST TEAM</p>
    <div class="flex flex-col  md:flex-row md:items-center">
        <div class='w-1/2 md:w-1/2 m-auto md:m-0 py-5 md:px-20 md:py-10 lg:px-10 lg:w-2/6'>
        <img src="{% static 'media/team/A1.jpg' %}" alt="Logo" class='wow animate__animated animate__backInLeft transition-all duration-1000 rounded-[50px] shadow-2xl ' >
        </div>
        <div class='lg:text-4xl font-semibold ml-10 md:ml-16  text-orange-900 wow animate__animated animate__backInRight transition-all duration-1000 ' >
            <p class='text-5xl' >Aditi Gupta</p>
            <p class='text-2xl md:text-3xl ' >Head of Designing Management</p>
        </div>
    </div>
    <div class="flex flex-col  md:flex-row md:items-center pt-16 md:pt-20 lg:pt-0">
        <div class='text-xl md:text-3xl lg:text-4xl lg:text-end ml-10 md:ml-16 lg:mr-32 font-semibold lg:ml-28 text-orange-900 wow animate__animated animate__backInRight transition-all duration-1000 lg:w-3/4 items-end ' >
            <p class='text-5xl lg:text-end ' >Vishwanath Anand</p>
            <p>Buisness Development Manager</p>
        </div>
        <div class='w-1/2 md:w-1/2 m-auto md:m-0 py-5 md:px-20 md:py-10 lg:px-10 lg:w-3/6'>
        <img src="{% static 'media/team/A1.jpg' %}" alt="Logo" class='wow animate__animated animate__backInLeft transition-all duration-1000 rounded-[50px] shadow-2xl ' >
        </div>
    </div>
    <div class="flex flex-col  md:flex-row md:items-center">
        <div class='w-1/2 md:w-1/2 m-auto md:m-0 py-5 md:px-20 md:py-10 lg:px-10 lg:w-2/6'>
        <img src="{% static 'media/team/s1.jpg' %}" alt="Logo" class='wow animate__animated animate__backInLeft transition-all duration-1000 rounded-[50px] shadow-2xl ' >
        </div>
        <div class='lg:text-4xl font-semibold ml-10 md:ml-16  text-orange-900 wow animate__animated animate__backInRight transition-all duration-1000 ' >
            <p class='text-5xl' >Swati Priya</p>
            <p class='text-2xl md:text-3xl ' >Head of Training Department</p>
        </div>
    </div>
    <div class="flex flex-col  md:flex-row md:items-center pt-16 md:pt-20 lg:pt-0">
        <div class='text-xl md:text-3xl lg:text-4xl lg:text-end ml-10 md:ml-16 lg:mr-32 font-semibold lg:ml-28 text-orange-900 wow animate__animated animate__backInRight transition-all duration-1000 lg:w-3/4 items-end ' >
            <p class='text-5xl lg:text-end ' >Gaurav Baliyan</p>
            <p>Head of Marketing Mangment</p>
        </div>
        <div class='w-1/2 md:w-1/2 m-auto md:m-0 py-5 md:px-20 md:py-10 lg:px-10 lg:w-3/6'>
        <img src="{% static 'media/team/A1.jpg' %}" alt="Logo" class='wow animate__animated animate__backInLeft transition-all duration-1000 rounded-[50px] shadow-2xl ' >
        </div>
    </div>
    

</section>

<section id="7th" class=' py-20 bg-[#ffffff]'>
    <p class='wow animate__animated animate__backInLeft transition-all duration-1000 text-justify  px-10 text-2xl md:text-3xl lg:text-4xl font-semibold leading-[50px]' >If you are having any innovative idea and confidence in it, that it can rise up it in the market bringing positive impact in the society and operations, please feel free to contact us . We will provide you the plateform for developing and marketing of your ideology. Making it a successful one and can grow together.</p>
</section>


<section id="footer" class='bg-[#892f26] transition-all duration-1000' >
    
    {% include 'footer.html' %}
     
</section>



{% endblock content %}

{% block js %}
    <script>
        var flag=true
        function formOpen(){
            form = document.getElementById('form')
            if (flag){
                
            form.classList.replace("-right-full",'-right-10');
            flag=false;
            }
            else{
                form.classList.replace('-right-10', "-right-full");
                flag=true;
            }
        }
        var mobile_flag=true
        function mobileBarOpen(){
            form = document.getElementById('mobile_bar_open')
            if (mobile_flag){
                
            form.classList.replace("h-0",'h-52');
            mobile_flag=false;
            }
            else{
                form.classList.replace('h-52',"h-0");
                mobile_flag=true;
            }
        }

      
        {% if messages %}
            {% for message in messages %}
                swal("Successfully!", "{{ message }}", "success");
            {% endfor %}
        {% endif %}
        
    </script>

{% endblock js %}