{% extends 'my_base.html' %}
{% load static %}
{% block title %}What We Do{% endblock title %}
{% block content %}

<section id="navbar" class='overflow-hidden border-b-2 bg-gradient-to-r from-[#021117] via-[#0a4759] to-[#074454]  border-gray-600'>
    {% include 'navbar.html' %}
</section>

    <!-- Mobile bar -->
<section id="mobile_navbar" >
    {% include 'mobile_bar.html' %}
</section>  

<section id="banner" class='relative' >
        <img src="{% static 'media/we_do/we_do_banner.png' %}" alt="" class='w-full'>
        
        <div class='absolute top-10 left-6 md:top-20 md:left-16 lg:top-28 lg:left-16 xl:top-32 xl:left-20 transition-all duration-700   from-blue-700 text-white wow animate__animated animate__backInLeft'>
            <p class='transition-all duration-700 text-xl md:text-3xl lg:text-7xl xl:text-8xl font-semibold '>What</P> 
            <p class='transition-all duration-700 text-xl md:text-3xl lg:text-6xl xl:text-7xl font-semibold  pt-1 md:pt-10 xl:pt-10 bg-clip-text text-transparent bg-gradient-to-r from-[#288ea6] to-[#63d1ee]'>'INKRONIX'</p>
            <p class='transition-all duration-700 text-xl md:text-3xl lg:text-6xl xl:text-7xl pt-1 md:pt-5 xl:pt-5 lg:pt-4 '>DOES</p>
            <p class="transition-all duration-700 rounded-full mt-2 md:mt-10 lg:text-6xl lg:ml xl:ml-5 bg-gradient-to-br from-[#54c0dc] via-cyan-500 to-[#268ca4] w-10 h-10 sm:w-12 sm:h-12 md:w-20 md:h-20 lg:w-28 lg:h-28 xl:w-32 xl:h-32 p-1 sm:p-2 md:p-3"><i class=" fa-solid text-3xl md:pl-3  md:text-5xl lg:text-7xl  xl:text-8xl fa-arrow-right  rotate-45"></i></p>
        
        
        </div>
        
        

</section> 

<section id="1st" class='relative h-[350px] lg:h-[450px] xl:h-[650px]' >
    
        <div class=' text-justify text-xl xl:text-4xl px-10 pt-10' >
            <p class='wow animate__animated animate__backInLeft font-semibold bg-clip-text text-transparent bg-gradient-to-r from-[#428393] via-[#61aabc] to-[#a4e7f8]'>INKRONIX SOFTWARES PRIVATE LIMITED
                <span class='text-black text-lg xl:text-3xl'>Is An Indian Multinational Information Technology Company That Provides Business Consulting, Information Technology, Outsourcing Services, Mobile Application Development And Websites Creations Etc.</span>
            </p>
            
        

    
    <div class='absolute w-full z-10 -bottom-44 left-0 px-5  sm:-bottom-32 md:-bottom-48 md:px-20 lg:-bottom-52 xl:-bottom-60 lg:px-32 xl:px-52  '>
        <iframe class='wow animate__animated animate__backInUp w-full h-[250px] rounded-2xl shadow-lg md:h-[350px] lg:h-[450px] xl:h-[550px]' src="https://www.youtube.com/embed/lG8zqxl_Ems" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
    </div>
    
</section>

<section id="2nd" class='' >
    <div class=' bg-[#0e4e5d] relative transition-all duration-1000 text-white  pt-11'>
        <p class='border-l-2 md:border-l-4 lg:border-l-8 lg:ml-32 xl:ml-5 ml-10 mt-44 lg:mt-72 font-semibold border-cyan-400 text-lg md:text-3xl lg:text-4xl p-5 wow animate__animated animate__backInUp'>ONGOING PROJECTS</p>
        
    <div class="transition-all duration-1000 flex flex-col lg:flex-row justify-center mt-10 pt-10  md:text-2xl  gap-16 px-10 md:px-32 lg:px-0 lg:gap-24 pb-10 xl:mb-20 lg:mb-16">
        <p class='wow animate__animated animate__backInLeft transition-all duration-1000 lg:w-2/6 rounded-3xl  text-center lg:px-10 xl:px-10 py-20 font-semibold text-lg md:text-2xl lg:text-3xl shadow-[inset_1px_1px_22px_1px_rgba(0,0,0,0.3)]  shadow-[#4bafca]'>Virtual Reality Game Development</p>
        <p class='wow animate__animated animate__backInDown transition-all duration-1000 lg:w-2/6 rounded-3xl text-center lg:px-10 xl:px-16 py-20 font-semibold text-lg md:text-2xl lg:text-3xl shadow-[inset_1px_1px_22px_1px_rgba(0,0,0,0.3)] shadow-[#4bafca]'>AI BASED PROJECTS</p>
    </div>
    <p class='border-l-2 md:border-l-4 lg:border-l-8 lg:ml-32 xl:ml-5 ml-10 mt-72 font-semibold border-cyan-400 text-xl md:text-3xl lg:text-4xl p-5 wow animate__animated animate__backInUp'>WHAT WE OFFER</p>
    <div class="grid lg:grid-cols-3 grid-cols-1 gap-10 px-16 mt-10">
        <p class='wow animate__animated animate__backInLeft transition-all duration-1000  rounded-[60px]  text-center  py-20 font-semibold text-sm md:text-lg lg:text-xl xl:text-3xl shadow-[inset_1px_1px_22px_1px_rgba(0,0,0,0.3)] bg-[#1d6b7d]  shadow-[#4bafca]'>CUSTOM SOFTWARE DEVELOPMENT</p>
        <p class='wow animate__animated animate__backInDown transition-all duration-1000  rounded-[60px] text-center   py-20 font-semibold text-sm md:text-lg lg:text-xl xl:text-3xl shadow-[inset_1px_1px_22px_1px_rgba(0,0,0,0.3)] bg-[#1d6b7d] shadow-[#4bafca]'>ENTERPRISE SOFTWARE SOLUTIONS</p>
        <p class=' wow animate__animated animate__backInDown transition-all duration-1000  rounded-[60px] text-center   py-20 font-semibold text-sm md:text-lg lg:text-xl xl:text-3xl shadow-[inset_1px_1px_22px_1px_rgba(0,0,0,0.3)] bg-[#1d6b7d] shadow-[#4bafca]'>CUSTOM SOFTWARE DEVELOPMENT</p>
    </div>
    <!--  round circle -->
    <p class="wow animate__animated animate__backInUp   w-12 h-12 xl:w-16 xl:h-16  transition-all duration-1000  absolute shadow-[inset_1px_1px_20px_1px_rgba(0,0,0,0.3)]  shadow-[#4bafca] top-[880px] left-16 lg:top-[550px] xl:left-24 rounded-full "></p>
    <p class="wow animate__animated animate__backInDown w-20 h-20 xl:w-28 xl:h-28 transition-all duration-1000  absolute shadow-[inset_2px_2px_30px_2px_rgba(0,0,0,0.3)]  shadow-[#4bafca] top-[950px] left-5 lg:top-[610px] xl:top-[650px] lg:left-5 xl:left-10 rounded-full "></p>
    <p class="wow animate__animated animate__backInDown w-12 h-12 xl:w-16 xl:h-16 absolute shadow-[inset_1px_1px_20px_1px_rgba(0,0,0,0.3)]  shadow-[#4bafca] top-[320px] lg:top-[410px] xl:top-[410px] md:right-40 right-24 rounded-full "></p>
    <p class="wow animate__animated animate__backInDown w-20 h-20 xl:w-28 xl:h-28 absolute shadow-[inset_2px_2px_30px_2px_rgba(0,0,0,0.3)]  shadow-[#4bafca] top-[240px] lg:top-[350px] xl:top-[280px] right-10 md:right-20 rounded-full "></p>
    </div>
    <div class='relative'>
    <img src="{% static 'media/we_do/we_do_last.png' %}" alt="" class='w-full'>
    <p class="wow animate__animated animate__backInUp transition-all duration-1000 absolute bottom-16 left-2 sm:bottom-14 sm:left-16 md:bottom-44 md:left-24 lg:bottom-72 lg:left-28 text-sm md:text-2xl lg:text-5xl p-2 md:p-5 lg:p-8 rounded-[40px;] bg-gradient-to-r from-cyan-600  to-cyan-400 text-white shadow-lg shadow-cyan-500  ">HIRE US <span><i class="fa-solid fa-arrow-right px-2 font-semibold -rotate-45"></i></span> </p>
    </div>
        
</section>

<section id="3rd" class='transition-all duration-1000 bg-gradient-to-r pt-10 from-[#1e839a] to-[#5fcde9]' >
    <div>
   <p class='border-l-2 md:border-l-4 lg:border-l-8 ml-8 md:ml-16 mt xl:pt-16 font-semibold border-cyan-500 rounded-lg text-white text-xl md:text-2xl lg:text-3xl p-5 xl:text-4xl wow animate__animated animate__backInUp'>ONGOING WEBINARS</p>
   <div class="flex flex-col md:flex-row justify-center gap-10 text-sm sm:text-lg md:text-xl lg:text-3xl md:gap-5 xl:gap-32 text-white text-center mt-20 pb-36 ">
    <div class='w-full lg:w-2/6 px-5 transition-all duration-1000'>
        <p class='wow animate__animated animate__backInLeft transition-all duration-1000 shadow-[1px_1px_35px_5px_rgba(0,0,0,0.3)] bg-gradient-to-tr from-[#1e839a] to-cyan-500 rounded-[65px] lg:leading-10   shadow-cyan-700 py-16 px-16 md:py-36'>THE GREAT INDIAN CODING FESTIVAL</p>
    </div>

    <div class='w-full lg:w-2/6 px-5 transition-all duration-1000'>
        <p class='wow animate__animated animate__backInRight transition-all duration-1000 shadow-[1px_1px_35px_5px_rgba(0,0,0,0.3)] bg-gradient-to-tr  to-cyan-600 via-cyan-500 from-cyan-500 rounded-[65px] lg:leading-10   shadow-cyan-700 py-16 px-10 md:py-36'>INKRONIX SOFTWARE WEBINAR</p>
    </div>
    
    
    
    
   </div>
</section>



<section id="footer" class='bg-[#1f849b] transition-all duration-1000' >
    
    {% include 'footer.html' %}
     
</section>



{% endblock content %}

{% block js %}
    <script>
        var flag=true
        function formOpen(){
            form = document.getElementById('form')
            if (flag){
                
            form.classList.replace("-right-full",'-right-10');
            flag=false;
            }
            else{
                form.classList.replace('-right-10', "-right-full");
                flag=true;
            }
        }
        var mobile_flag=true
        function mobileBarOpen(){
            form = document.getElementById('mobile_bar_open')
            if (mobile_flag){
                
            form.classList.replace("h-0",'h-52');
            mobile_flag=false;
            }
            else{
                form.classList.replace('h-52',"h-0");
                mobile_flag=true;
            }
        }

      
        {% if messages %}
            {% for message in messages %}
                swal("Successfully!", "{{ message }}", "success");
            {% endfor %}
        {% endif %}
        
    </script>

{% endblock js %}